.player-box{
    border:1px solid black;
     margin: 5px;
    height: 100px;   
}

.player-details{
    margin:3px;
     
} 


.internal-field{
  border: 2px solid white;
  margin-top:40px;
}


.player-box-market{
  border:1px solid black;
   margin: 5px;
  height: 40px;   
  width:40px;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.big_ball_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   }


.hero {
  background-size: cover;
  background-position: center center; }
  .hero, .hero > .container > .row {
    height: 100vh;
    min-height: 500px; }
  .hero.overlay:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .hero h1 {
    font-weight: 700;
    font-size: 4rem; }
    @media (max-width: 991.98px) {
      .hero h1 {
        font-size: 2.5rem; } }
  .hero p {
    color: rgba(255, 255, 255, 0.7); }


    .bg-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed; }
      .bg-image.overlay {
        position: relative; }
        .bg-image.overlay:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.4); }
 .bg-image > .container {
        position: relative;
        z-index: 1; }



        .cd-panel {
          /*...*/
          visibility: hidden;
          transition: visibility 0s 0.6s;
          color:black;
        }
        
        .cd-panel.cd-panel--is-visible {
          visibility: visible;
          transition: visibility 0s 0s;
        }
        
        .cd-panel__header {
          /*...*/
          position: fixed;
          top: 0;
          width: 90%;
          height: 50px;
          transition: transform 0.3s 0s;
          transform: translateY(-50px);
        }
        
        .cd-panel--from-right .cd-panel__header {
          right: 0;
        }
        
        .cd-panel--from-left .cd-panel__header {
          left: 0;
        }
        
        .cd-panel--is-visible .cd-panel__header {
          transition: transform 0.3s 0.3s;
          transform: translateY(0px);
        }
        
        .cd-panel__container {
          /*...*/
          position: fixed;
          width: 90%;
          height: 100%;
          top: 0;
          transition: transform 0.3s 0.3s;
        }
        
        .cd-panel--from-right .cd-panel__container {
          right: 0;
          transform: translate3d(100%, 0, 0);
        }
        
        .cd-panel--from-left .cd-panel__container {
          left: 0;
          transform: translate3d(-100%, 0, 0);
        }
        
        .cd-panel--is-visible .cd-panel__container {
          transform: translate3d(0, 0, 0);
          transition-delay: 0s;
        }
/* The side navigation menu */

        .sidenav {
          height: 100%; /* 100% Full-height */
          width: 0; /* 0 width - change this with JavaScript */
          position: fixed; /* Stay in place */
          z-index: 1; /* Stay on top */
          top: 0;
          right: 0;
          background-color: black;
          overflow-x: hidden; /* Disable horizontal scroll */
          padding-top: 15px; /* Place content 60px from the top */
          transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }
 
        
        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
          color: #f1f1f1;
        }
        
        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        
        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }        
  
        .box {
          float: left;
          height: 20px;
          width: 20px;
          margin-bottom: 15px;
          border: 1px solid black;
          clear: both;
        }
        
  
/* modal */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content/Box */
        .modal-content {
          background-color:#D8DDE2;
          text-align:left;
          margin: 5% auto; /* 15% from the top and centered */
          padding: 15px;
          border: 1px solid #888;
          width: 430px; /* Could be more or less, depending on screen size */
          height:300px;
        }
        
        /* The Close Button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        /* end modal */

        
        @keyframes example {
          from {background-color:white;}
          to {background-color: green;}
        }

        .lineup {
          width: 100px;
          height: 100px;
          background-color: green;
          animation-name: example;
          animation-duration: 2s;
        }
        
        /* animation  for goalkeepers */ 
        @keyframes anim_goalkeeper {
          from {background-color:white;}
          to {background-color: #F8D7DA;}
        }
        .lineup_goalkeeper {
          width: 100px;
          height: 100px;
          background-color: #F8D7DA;
          animation-name: anim_goalkeeper;
          animation-duration: 1s;
        }
        /* end animation golakeepers */

        /* animation  for defenders */ 
        @keyframes anim_defender {
          from {background-color:white;}
          to {background-color: #E9ECEF;}
        }
        .lineup_defender {
          width: 100px;
          height: 100px;
          background-color: #E9ECEF;
          animation-name: anim_defender;
          animation-duration: 1s;
        }
        /* end animation defenders */

        /* animation  for midfielders */ 
        @keyframes anim_midfielder {
          from {background-color:white;}
          to {background-color: #CFE2FF;}
        }
        .lineup_midfielder {
          width: 100px;
          height: 100px;
          background-color: #CFE2FF;
          animation-name: anim_midfielder;
          animation-duration: 1s;
        }
        /* end animation midfielders */

        /* animation  for midfielders */ 
        @keyframes anim_attacker {
          from {background-color:white;}
          to {background-color: #D1E7DD;}
        }
        .lineup_attacker {
          width: 100px;
          height: 100px;
          background-color: #D1E7DD;
          animation-name: anim_attacker;
          animation-duration: 1s;
        }
        /* end animation midfielders */

        @keyframes lineup_text {
          from {color:white;}
          to {color:black;}
        }
        
        /* The element to apply the animation to */
        .lineup_txt {
          display:block;
          animation-name: lineup_text;
          animation-duration: 1s;
        }


/* testing ripped paper effect */

 

p {
  line-height: 25px;
}

.content-main {
  position: relative;
  width: 380px;
  margin: 10px auto;
  
  .content-box {
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  
    &:before, &:after {
      content: ""; height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
    }
    &:before {
      background-color: #D8DDE2;
      top: 0;
    }
    &:after {
      background-color: white;
      bottom: -2px;
    }
  }
}

/* end ripped paper effect */

/* double border for headline */
 
.double-bar {
  &:after {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 1;
  }
  
  &:before {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 1;    
  }
}
   

/* end double border for headline */

.dropbtn { 
  background-color: gray; 
  border-radius:  5px;
  color: white; 
  padding: 6px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
} 

.dropdown { 
  position: relative; 
  display: inline-block; 
} 

.dropdown-content { 
  display: none; 
  position: absolute; 
  text-align: center;
  background-color: #f9f9f9; 
  min-width: 120px; 
  box-shadow: 0px 8px 16px 
    0px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
} 

.dropdown-content a { 
  color: black; 
  padding: 6px 6px; 
  text-decoration: none; 
  display: block; 
} 

.dropdown-content a:hover { 
  background-color: #f1f1f1;
  border:2px solid black;
} 

.dropdown:hover .dropdown-content { 
  display: block; 
} 

.dropdown:hover .dropbtn { 
  background-color: #3e8e41; 
} 