
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            #div1 {
              width: 350px;
              height: 70px;
              padding: 10px;
              border: 1px solid #aaaaaa;
            }
            </style>
        <script>
            function allowDrop(ev) {
              ev.preventDefault();
            }
            
            function drag(ev) {
              ev.dataTransfer.setData("text", ev.target.id);
            }
            
            function drop(ev) {
              ev.preventDefault();
              var data = ev.dataTransfer.getData("text");
              ev.target.appendChild(document.getElementById(data));
            }
            </script>

    </head>
    <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        
        
        <div><table ><tr><td></td></tr>
    <tr>
        <td id="drag1"   style="text-align:center;background-image: url('https://image.mc.lilly.com/lib/fe8c1273736c057477/m/1/0e410875-7778-49f3-a302-a5058b688fb6.png');">

            <img src ="https://image.mc.lilly.com/lib/fe8c1273736c057477/m/1/97a219df-214b-43c9-a21e-14ee129ef8cd.png"><br>
            <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:40px"> &nbsp;</h1> 
     
    </td></tr>
    </table>



</div>
    </body>
    </html>