{% extends "fmx/layout.html" %}
{% load static %}
{% block script %}

{% endblock %}

{% block body %}
<script>
 function allowDrop(ev) {
    ev.preventDefault();
  }
 

  function drag(ev) {
     
    ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("text2", ev.target.getAttribute('idreal'))
  }
  
  function drop(ev) {
    ev.preventDefault();
    console.log("drop: "+ev.dataTransfer)
    var data = ev.dataTransfer.getData("text");
    var idreal = ev.dataTransfer.getData("text2"); 
    console.log("drop:"+ data)
    ev.target.classList.remove( 'bg-success')
    ev.target.classList.add( 'text-bg-primary') 
    ev.target.innerHTML=data
    const pry= document.getElementById(data)
     pry.value=pry.id
     console.log("=>"+idreal+ "name: "+ pry.id)
   
     var modal = document.getElementById("myModal");
     modal.style.display = "block";
     
    //ev.target.appendChild(document.getElementById(data));
  }
  </script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- The Modal -->

<!-- The Modal --> <!--confirm/congratulation page for sign-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <table id="headline" style="width:480px;height:218px;display:none"><tr><td></td></tr>
      <tr>
        <td
          style="width:480px;height:218px;text-align:center;background-image: url('static/fmx/headline.png');">

          <h1
            style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:40px">
            ciao</h1>

        </td></tr>
    </table>

    <p id="buy_confirm">
      Sure?</p>
    <div id="confirm_sign_btn" class="col-6"><button type="button"
        class="btn btn-success">Confirm</button> </div>
  </div>

</div>
<!-- The Modal -->

<div class="container-fluid text-info center   overlay"
  style="background-image: url('static/fmx/bg_3.jpg');">
  <div class="row w-50 bs-success-bg-subtle  "></div>
  <div class=" col opacity-75 center border  bg-light   "
    style="  margin:30px;padding:0px;">
    <div class="  text-black border ">

      <div class="container-fluid   bg-light"
        style="  margin:20px;padding:10px;">
        <div class="row border bg-light">
          <div class="col-4   bg-light">

            <div class="container text-center">
              <!-- start search box-->
              <div class="row   ">
                <div class="col-6  "> Team:
                  <form>
                    <select id="team_search" class=" form-select form-select-sm"
                      aria-label="Default select example">
                      <option value="0" selected>All</option>

                    </select>
                  </div>

                  <div class="col-6 "> Position:
                    <select id="position_search"
                      class="form-select form-select-sm"
                      aria-label="Default select example">
                      <option value="0" selected>All</option>
                      <option value="Goalkeeper">Goalkeepers</option>
                      <option value="Defender">Defenders</option>
                      <option value="Midfielder">Midfielders</option>
                      <option value="Attacker">Attackers</option>
                    </select>

                  </div>
                </form>
              </div>
              <!-- end search box-->

              <div class="row">

                <div class="col-10 text-left  ">

                  <br>
                  <div id="player-list"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="canvas_test" style="display:block;" class="col-8">
            <div   class="col-12 text-center   ">
              <h1>lineup</h1><br>
              <div id="chosen_formation" style="display:none">0</div>
              <button id="352" type="button"
                class="btn btn-success p-2 m-2">352</button>   
                <button id="532" type="button"
                class="btn btn-success p-2 m-2">532</button>
                <button id="442" type="button"
                class="btn btn-success p-2 m-2">442</button>
                <button id="433" type="button"
                class="btn btn-success p-2 m-2">433</button>
              </div>
            <div class="container  text-center    "  >
              <div class="row  align-items-center   " >

                <div id="Goalkeeper-1" data-playerid='0'
                      class="col   lineup_box Goalkeeper-1 rounded-3   "
                      style="font-weight: bold;"> </div>

              </div>

              <!-- defender-line-4-->
              <div id="Defenders-4-line" class="row  align-items-center   " >
                  <div id="Defender-1-4" data-playerid='0' class="col lineup_box Defender-1-4 rounded-3" style="font-weight: bold;"></div>
                  <div id="Defender-2-4" data-playerid='0' class="col lineup_box Defender-2-4 rounded-3" style="font-weight: bold;"></div>
                  <div id="Defender-3-4" data-playerid='0' class="col lineup_box Defender-3-4 rounded-3" style="font-weight: bold;"></div>
                  <div id="Defender-4-4" data-playerid='0' class="col lineup_box Defender-4-4 rounded-3" style="font-weight: bold;"></div>
              </div> <!--end defender-4-line-->
              <!-- defender-line-3-->
              <div id="Defenders-3-line" class="row  align-items-center   " >
                <div id="Defender-1-3" data-playerid='0' class="col  lineup_box Defender-1-3 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-2-3" data-playerid='0' class="col  lineup_box Defender-2-3 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-3-3" data-playerid='0' class="col  lineup_box Defender-3-3 rounded-3" style="font-weight: bold;"></div>
              </div> <!--end defender-3-line-->
              <!-- defender-line-5-->
              <div id="Defenders-5-line" class="row  align-items-center  " >
                <div id="Defender-1-5" data-playerid='0' class="col  lineup_box Defender-1-5 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-2-5" data-playerid='0' class="col  lineup_box Defender-2-5 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-3-5" data-playerid='0' class="col  lineup_box Defender-3-5 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-4-5" data-playerid='0' class="col  lineup_box Defender-4-5 rounded-3" style="font-weight: bold;"></div>
                <div id="Defender-5-5" data-playerid='0' class="col  lineup_box Defender-5-5 rounded-3" style="font-weight: bold;"></div>
              </div> <!--end defender-5-line-->

                <!--end Midfielder-4-line-->
              <div id="Midfielders-4-line" class="row  align-items-center  " >
                <div id="Midfielder-1-4" data-playerid='0' class="col lineup_box Midfielder-1-4 rounded-3" style="font-weight: bold;"></div>
                <div id="Midfielder-2-4" data-playerid='0' class="col lineup_box Midfielder-2-4 rounded-3" style="font-weight: bold;"></div>
                <div id="Midfielder-3-4" data-playerid='0' class="col lineup_box Midfielder-3-4 rounded-3" style="font-weight: bold;"></div>
                <div id="Midfielder-4-4" data-playerid='0' class="col lineup_box Midfielder-4-4 rounded-3" style="font-weight: bold;"></div>
            </div> <!--end Midfielder-4-line-->
            <!-- Midfielder-line-3-->
            <div id="Midfielders-3-line" class="row  align-items-center  " >
              <div id="Midfielder-1-3" data-playerid='0' class="col lineup_box Midfielder-1-3 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-2-3" data-playerid='0' class="col lineup_box Midfielder-2-3 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-3-3" data-playerid='0' class="col lineup_box Midfielder-3-3 rounded-3" style="font-weight: bold;"></div>
            </div> <!--end Midfielder-3-line-->
               <!-- Midfielder-5-line-->
            <div id="Midfielders-5-line" class="row  align-items-center  " >
              <div id="Midfielder-1-5" data-playerid='0' class="col lineup_box Midfielder-1-5 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-2-5" data-playerid='0' class="col lineup_box Midfielder-2-5 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-3-5" data-playerid='0' class="col lineup_box Midfielder-3-5 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-4-5" data-playerid='0' class="col lineup_box Midfielder-4-5 rounded-3" style="font-weight: bold;"></div>
              <div id="Midfielder-5-5" data-playerid='0' class="col lineup_box Midfielder-5-5 rounded-3" style="font-weight: bold;"></div>
            </div> <!--end Midfielder-5-line-->
             <!-- attacker-line-3-->
             <div id="Attackers-3-line" class="row  align-items-center  " >
              <div id="Attacker-1-3" data-playerid='0' class="col lineup_box Attacker-1-3 rounded-3" style="font-weight: bold;"></div>
              <div id="Attacker-2-3" data-playerid='0' class="col lineup_box Attacker-2-3 rounded-3" style="font-weight: bold;"></div>
              <div id="Attacker-3-3" data-playerid='0' class="col lineup_box Attacker-3-3 rounded-3" style="font-weight: bold;"></div>
            </div> <!--end defender-3-line-->
            <!-- attacker-line-3-->
            <div id="Attackers-2-line" class="row  align-items-center  " >
              <div id="Attacker-1-2" data-playerid='0' class="col lineup_box Attacker-1-2 rounded-3" style="font-weight: bold;"></div>
              <div id="Attacker-2-2" data-playerid='0' class="col lineup_box Attacker-2-2 rounded-3" style="font-weight: bold;"></div>
               
            </div> <!--end defender-3-line-->

            <div class="row    align-items-center p-2 " >
                           <div id="save_btn" class="col-6 "><button type="button"
                class="btn btn-success">Save</button> </div> 
                          <div id="clear_btn" class="col-6  "><button type="button"
                class="btn  btn-secondary">Clear</button> </div> 

            </div>
            </div>


          </div>

          <!--start of squad signing-->
          <div id="canvas_test" style="display:none;" class="col-8">

            <!-- player positions start-->
            <div class="container   border rounded-2 text-center "><!--internal-field-->

              <div class="row w-100   ">
                <div class="col">
                  <div class="row     w-100 ">

                    <div id="Goalkeeper-1-pic" class="col-2 p-1"></div>
                    <div id="Goalkeeper-1" value="ciao" ondrop="drop(event)"
                      ondragover="allowDrop(event)" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-danger-subtle text-black"
                      style="font-weight: bold;">Goalkeeper 1</div>
                    <div id="Goalkeeper-1-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row w-100 ">
                    <div id="Goalkeeper-2-pic" class="col-2 p-1"></div>
                    <div id="Goalkeeper-2" data-playerid='0'
                      ondrop="drop(event)" ondragover="allowDrop(event)"
                      class="col p-1 player-box-market rounded-2 bg-danger-subtle text-black "
                      style="font-weight: bold;">Goalkeeper 2</div>
                    <div id="Goalkeeper-2-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row w-100   ">
                    <div class="col  "><hr>
                    </div>
                  </div>

                  <div class="row w-100   ">
                    <div id="Midfielder-1-pic" class="col-2 p-1"></div>
                    <div id="Midfielder-1" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-primary-subtle
            text-black  " style="font-weight: bold;">Midfielder 1</div>
                    <div id="Midfielder-1-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row w-100 bs-success-bg-subtle ">
                    <div id="Midfielder-2-pic" class="col-2 p-1"></div>
                    <div id="Midfielder-2" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 2</div>
                    <div id="Midfielder-2-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Midfielder-3-pic" class="col-2 p-1"></div>
                    <div id="Midfielder-3" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 3</div>
                    <div id="Midfielder-3-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Midfielder-4-pic" class="col-2 p-1"></div>
                    <div id="Midfielder-4" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 4</div>
                    <div id="Midfielder-4-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Midfielder-5-pic" class="col-2 p-1"></div>
                    <div id="Midfielder-5" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 5</div>
                    <div id="Midfielder-5-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                  </div>

                </div>
                <div class="col">
                  <div class="row w-100 bs-success-bg-subtle ">
                    <div id="Defender-1-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Defender-1" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  " style="font-weight: bold;">Defender 1</div>
                    <div id="Defender-1-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row w-100 bs-success-bg-subtle ">
                    <div id="Defender-2-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Defender-2" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  " style="font-weight: bold;">Defender 2</div>
                    <div id="Defender-2-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Defender-3-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Defender-3" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  " style="font-weight: bold;">Defender 3</div>
                    <div id="Defender-3-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Defender-4-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Defender-4" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-secondary-subtle 
           text-black  " style="font-weight: bold;">Defender 4</div>
                    <div id="Defender-4-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Defender-5-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Defender-5" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-secondary-subtle
           text-black  " style="font-weight: bold;">Defender 5</div>
                    <div id="Defender-5-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row w-100 bs-success-bg-subtle ">
                    <div class="col  "><hr>
                    </div>
                  </div>

                  <div class="row w-100 bs-success-bg-subtle ">
                    <div id="Attacker-1-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Attacker-1" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-success-subtle
           text-black  " style="font-weight: bold;">Attacker 1</div>
                    <div id="Attacker-1-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row w-100 bs-success-bg-subtle ">
                    <div id="Attacker-2-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Attacker-2" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-success-subtle 
          text-black  " style="font-weight: bold;">Attacker 2</div>
                    <div id="Attacker-2-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Attacker-3-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Attacker-3" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-success-subtle
           text-black  " style="font-weight: bold;">Attacker 3</div>
                    <div id="Attacker-3-pic" class="col-2 p-1"></div>
                  </div>
                  <div class="row  w-100 bs-success-bg-subtle">
                    <div id="Attacker-4-close" data-playerid='0'
                      class="col-1 p-1" style="display:none;"><span
                        class='close'>&times;</span> </div>
                    <div id="Attacker-4" data-playerid='0'
                      class="col p-1 player-box-market rounded-2 bg-success-subtle 
          text-black  " style="font-weight: bold;">Attacker 4</div>
                    <div id="Attacker-4-pic" class="col-2 p-1"></div>
                  </div>
                </div>

              </div>

            
            </div>

          </div>
          <!-- player position end -->
          <div class="row">

            <div class="col-8 text-left border">
              <div>dsds</div>
            </div>
            <div class="col-4 text-left border">
              <!------------>
              <!---side panel with player details and sign button-->
              <div><div id="mySidenav" class="sidenav">

                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 text-center">
                      <div id="det_player_id" style="display:none"></div>
                      <div id="det_player_value" style="display:none"></div>
                      <div id="det_player_position" style="display:none"></div>
                      <img id="det_player_photo" class="rounded "
                        style="border:1px solid gray; margin:5px"
                        data-playerid='0' src="#" style="width: 90px;">
                      <div id="det_player_name" class="fs-5 text-white "
                        style="font-weight:bold;margin:1px">s</div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row m-2">
                    <div class="row m-2">
                      <div id="det_player_1" class="col-6  text-white">x</div>
                      <div id="det_player_2" class="col-6  text-white">d</div>

                    </div>
                    <div class="container  ">
                      <div
                        class="row m-3 border border-success-subtle  border-white">

                        <div id="stat_player_1" class="col-6 text-white">x</div>
                        <div id="stat_player_2" class="col-6  text-white">d</div>

                      </div>
                      <div
                        class="row m-3   border-success-subtle text-center border-white">

                        <div id="sign_btn" class="col-6"><button type="button"
                            class="btn btn-success">Sign</button> </div>

                      </div>
                      <!---end panel-->

                    </div>
                  </div></div>
              </div>
            </div>

          </div></div>
      </div>
    </div>
  </div>
</div>

<br><hr>

<!---<div id="players-list">
</div>
 --->

<script>
 

var  club_name='{{ user.club  }}'

var  user_name='{{ user.username  }}'
var  user_id='{{ user.id  }}'
var  initial_budget_str='{{ user.initial_budget  }}'
var  initial_budget=Number(initial_budget_str)
</script>

<script src="{% static 'fmx/fmx lineup.js' %}"></script>

{% endblock %}