{% extends "fmx/layout.html" %}

{% block body %}

<div class="container-fluid text-info     " style="background-image: url('static/fmx/bg_3.jpg');"> 

    <div class=" col   center    " style="  margin: 0px;padding:0px;">

    <h2 class="text-black">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
  
 
 <br>
</div> 
        
     
    <br><br>
    <div class="row  ">
        <div class="col-2"></div>
        <div class="col-4">
            
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div><br>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div><br>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
                 
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
     
     
</div>
 
</div></div>
</div>
 



 

   

    

{% endblock %}