{% extends "fmx/layout.html" %}
{% load static %}
{% block script %}


{% endblock %}


{% block body %}
<script>
 function allowDrop(ev) {
    ev.preventDefault();
  }
 

  function drag(ev) {
     
    ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("text2", ev.target.getAttribute('idreal'))
  }
  
  function drop(ev) {
    ev.preventDefault();
    console.log("drop: "+ev.dataTransfer)
    var data = ev.dataTransfer.getData("text");
    var idreal = ev.dataTransfer.getData("text2"); 
    console.log("drop:"+ data)
    ev.target.classList.remove( 'bg-success')
    ev.target.classList.add( 'text-bg-primary') 
    ev.target.innerHTML=data
    const pry= document.getElementById(data)
     pry.value=pry.id
     console.log("=>"+idreal+ "name: "+ pry.id)
   
     var modal = document.getElementById("myModal");
     modal.style.display = "block";
     
    //ev.target.appendChild(document.getElementById(data));
  }
  </script> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Modal confirming save squad-->
<div id="Modal-saved-squad" class="modal overlay">

  <!-- Modal content -->
  <div class="modal-content overlay">
    <span class="close">&times;</span>
      <div class="row">
        <div class="col">
         
      <div class="col text-center">
        Congratulations! <br>
        Your squad is not complete. You'll be entered into the FMX League as soon as you create your first lineup.<br><br>
         Would you like to create you team lineup? <br> 
        <button id="create_lineup_btn" type="button" class="btn btn-success p-2 m-3">Yes please</button>
        <button id="cancel_lineup_btn" 
        onclick="document.getElementById('Modal-saved-squad').style.display='none'"
         type="button" class="btn btn-secondary p-2">Not yet, Thanks</button>
      </div>
      </div>
    </div>
  </div>
</div> 
 <!-- END Modal confirming save squad-->

<!-- The Modal --> <!--confirm/congratulation page for signing a player -->
<div id="myModal" class="modal overlay">

  <!-- Modal content -->
  <div class="modal-content overlay">
    <span class="close">&times;</span>
      <div class="row">
        <div class="col">
        <div class="content-main">
        <div id="content-box" class="content-box" style="display:block">
          <h2 >THE DAILY NEWS</h2> <div class="double-bar"><span> </span></div>
          <p id="headline-txt">Enthusiastically leverage other's effective users via client-centric </p>
        </div> 
    </div>
      <div class="col text-center">
         Do you really want to signup this player? <br> 
        <button id="confirm_sign_btn" type="button" class="btn btn-success p-2 m-3">Confirm</button>
        <button id="cancel_sign_btn" onclick="document.getElementById('myModal').style.display='none'" type="button" class="btn btn-secondary p-2">Cancel</button>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal end-->

<!--confirm page for selling a player -->
<div id="myModal-sell" class="modal overlay">

  <!-- Modal content -->
  <div class="modal-content overlay">
    <span class="close">&times;</span>
      <div class="row">
        <div class="col">
        <div class="content-main">
        <div id="content-box-sell" class="content-box" style="display:block">
          <h2 >THE DAILY NEWS</h2> <div class="double-bar"><span> </span></div>
          <p id="headline-txt-sell">Enthusiastically leverage other's effective users via client-centric </p>
        </div> 
    </div>
      <div class="col text-center">
         Do you really want to sell this player? <br> 
        <div id="sell_player_id" style="display: none;"></div>
        <div id="sell_player_name" style="display: none;"></div>
        <button id="confirm_sell_btn" type="button" class="btn btn-success p-2 m-3">Confirm</button>
        <button id="cancel_sell_btn" onclick="document.getElementById('myModal-sell').style.display='none'" type="button" class="btn btn-secondary p-2">Cancel</button>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal end-->



<div class="container-fluid text-info center  big_ball_img" style="background-image: url('static/fmx/bg_3.jpg');"> 
  <div class="row w-50 bs-success-bg-subtle  "></div>
<div class=" col opacity-75 center      " style="  margin:30px;padding:0px;">
  <div class="  text-black   "  > 

    <div class="container     " style="  margin:0px;padding:10px;">
    <div class="row  rounded-2   bg-light" style=" border:1px solid black; margin:0px;padding:10px;">
      <div class="col-4 rounded-2  bg-light">
       

        <div class="container     text-center">
            <!-- start search box-->
            <div class="container text-bg-secondary rounded-2 ">
        <div class="row  p-0">
          <div class="col-md-6 p-1  " > Team:  
          
            <select id="team_search" class=" form-select form-select-sm" aria-label="Default select example">
              <option value="0" selected>All</option>
               
            </select>
          </div>
          
          <div  class="col-md-6 p-1"> Position:
            <select id="position_search" class="form-select form-select-sm" aria-label="Default select example">
              <option value="0" selected>All</option>
              <option value="Goalkeeper">Goalkeepers</option>
              <option value="Defender">Defenders</option>
              <option value="Midfielder">Midfielders</option>
              <option value="Attacker">Attackers</option>
            </select>
             
        
        </div>
     
    </div>


    <div class="row text-bg-secondary p-0 rounded-2">
      <div class="col-md-6 p-1 " > Value range:  
        <select id="price_search" class=" form-select form-select-sm" aria-label="Default select example">
          <option value="0" selected>All</option>
          <option value="40" ><$40</option>
          <option value="4060">$40 - $60</option>
          <option value="60">>$60</option>
        </select>
      </div>
      
      <div  class="col-md-6 p-1"> Order by:
        <select id="order_search" class="form-select form-select-sm" aria-label="Default select example">
          <option value="name" selected>Name</option>
          <option value="value">Price</option>
          <option value="goals">Goals #</option>
          <option value="lineups">Lineups #</option> 

        </select>
         
    
    </div>
</div> </div>


      <!-- end search box-->

    

        
        <div class="row pt-2">
           
          <div class="  col-12 text-left p-0 "> 
             <div class="container " >
            <nav  class="text-center" aria-label="...">
              <ul   class="pagination pagination-sm justify-content-center ">
                <li class="page-item disabled" id="page-item-Previous" value="0">
                  <a id="page-item-Previous-link" class="page-link" href="#">Previous</a>
                </li>
            
                <li class="page-item" id="page-item-Next" value="2">
                  <a id="page-item-Next-link" class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
            <div id="player-list"></div>
          </div>
        </div>
        </div>
        </div>
      
       <div   id ="canvas_test" class="col-8"> 
        
    <!-- player positions start-->
    <div class="container   bg-light    text-center "><!--internal-field-->
      <div class="row ">
        <!-- <div class="col"><img id="logo" src="" style="width:60px;border:1px solid black"><br>-->
           
         
        <div class="col rounded-5   m-2    " >
          <div class="row">
             <div class="col-3"></div>
            <div class="col-6"><h4>Current Budget:</h4></div>
           </div>
           <div class="col-3"></div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4   text-success  "><h5 id="budget"  >2222</h5></div> 
            <div class="col-4"></div>
          
          </div>
       
      </div>
       

      <div class="row w-100   ">
        <div class="col-md-6 nopadding" >
          <div class="row     w-100 " >
             
          <div id="Goalkeeper-1-pic" class="col-2 p-1"></div>
        <div id="Goalkeeper-1" value="ciao" ondrop="drop(event)" ondragover="allowDrop(event)" data-playerid='0' 
         class="col  p-1 player-box-market rounded-2 bg-danger-subtle text-black"  style="font-weight: bold;" >Goalkeeper 1</div>
         <div id="Goalkeeper-1-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close' >&times;</span> </div>
        </div>
        <div class="row w-100 ">
          <div id="Goalkeeper-2-pic" class="col-2 p-1"></div>
        <div id="Goalkeeper-2" data-playerid='0' ondrop="drop(event)" ondragover="allowDrop(event)" 
        class="col p-1 player-box-market rounded-2 bg-danger-subtle text-black " style="font-weight: bold;">Goalkeeper 2</div>
        <div id="Goalkeeper-2-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div> 
      <div class="row w-100   ">
        <div   class="col  "><hr>
           </div>
      </div>


      <div class="row w-100   ">
        <div id="Midfielder-1-pic" class="col-2 p-1"></div>
        <div id="Midfielder-1" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-primary-subtle
            text-black  " style="font-weight: bold;">Midfielder 1</div>
            <div id="Midfielder-1-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div>
      <div   class="row w-100 bs-success-bg-subtle ">
        <div id="Midfielder-2-pic" class="col-2 p-1"></div>
        <div id="Midfielder-2" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 2</div>
          <div id="Midfielder-2-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div>
      <div   class="row  w-100 bs-success-bg-subtle">
        <div id="Midfielder-3-pic" class="col-2 p-1"></div>
        <div id="Midfielder-3" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 3</div>
          <div id="Midfielder-3-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div>
      <div   class="row  w-100 bs-success-bg-subtle">
        <div id="Midfielder-4-pic" class="col-2 p-1"></div>
        <div id="Midfielder-4" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 4</div>
          <div id="Midfielder-4-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div>
      <div  class="row  w-100 bs-success-bg-subtle">
        <div id="Midfielder-5-pic" class="col-2 p-1"></div>
        <div  id="Midfielder-5" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-primary-subtle
          text-black  " style="font-weight: bold;">Midfielder 5</div>
          <div id="Midfielder-5-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
      </div>




    </div>
       <div class="col-md-6">
        <div class="row w-100 bs-success-bg-subtle ">
          <div id="Defender-1-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Defender-1" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  "style="font-weight: bold;">Defender 1</div>
            <div id="Defender-1-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row w-100 bs-success-bg-subtle ">
          <div id="Defender-2-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Defender-2" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  " style="font-weight: bold;">Defender 2</div>
            <div id="Defender-2-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Defender-3-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Defender-3" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-secondary-subtle
            text-black  " style="font-weight: bold;">Defender 3</div>
            <div id="Defender-3-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Defender-4-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Defender-4" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-secondary-subtle 
           text-black  " style="font-weight: bold;">Defender 4</div>
           <div id="Defender-4-pic" class="col-2 p-1"></div>
        </div>
        <div  class="row  w-100 bs-success-bg-subtle"> 
          <div id="Defender-5-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div  id="Defender-5" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-secondary-subtle
           text-black  " style="font-weight: bold;">Defender 5</div>
           <div id="Defender-5-pic" class="col-2 p-1"></div>
        </div>
        <div class="row w-100 bs-success-bg-subtle ">
          <div   class="col  "><hr>
             </div>
        </div>  


        <div class="row w-100 bs-success-bg-subtle ">
          <div id="Attacker-1-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Attacker-1" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-success-subtle
           text-black  " style="font-weight: bold;">Attacker 1</div>
           <div id="Attacker-1-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row w-100 bs-success-bg-subtle ">
          <div id="Attacker-2-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Attacker-2" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-success-subtle 
          text-black  " style="font-weight: bold;">Attacker 2</div>
          <div id="Attacker-2-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Attacker-3-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Attacker-3" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-success-subtle
           text-black  " style="font-weight: bold;">Attacker 3</div>
           <div id="Attacker-3-pic" class="col-2 p-1"></div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Attacker-4-close" data-playerid='0' class="col-1 p-1" style="display:none;"><span class='close'>&times;</span> </div>
          <div id="Attacker-4" data-playerid='0' class="col p-1 player-box-market rounded-2 bg-success-subtle 
          text-black  " style="font-weight: bold;">Attacker 4</div>
          <div id="Attacker-4-pic" class="col-2 p-1"></div>
        </div>
      </div>




      </div>
    
       
    </div> 
    <div class="row   mt-2" style="text-align:center"> 
      <div class="col-4"></div>
      <div id="save_btn" class="col-4"><button type="button" class="btn btn-lg btn-success">save</button> </div>  
    <div class="col-4"></div>
    </div>

    </div>
    <!-- player position end -->
    <!-- <div class="row">
           
      <div class="col-7 text-left  "> 
        <div ></div>
      </div>
      <div class="col-4 text-left  ">  -->

        <!------------>
        <!---side panel with player details and sign button-->
        <div ><div id="mySidenav" class="sidenav">
 
          <div class="row">
            <div class="col-2"></div>
            <div  class="col-8 text-center">
              <div id="det_player_id" style="display:none"></div>
              <div id="det_player_value" style="display:none"></div>
              <div id="det_player_position" style="display:none"></div>



               
                            <img id="det_player_photo" class="rounded "style="border:1px solid gray; margin:5px" data-playerid='0' src="#" style="width: 90px;">
              
              
              
                            <div id="det_player_name" class="fs-5 text-white " style="font-weight:bold;margin:1px">s</div>
            </div>
            <div class="col-2"> </div>
          </div>
          <div class="row m-2">
          <div class="row m-2">
            <div id="det_player_1" class="col-6  text-white">Loading...</div>
            <div id="det_player_2" class="col-6  text-white"></div>
             
            </div>
            <div class="container  ">
            <div class="row m-3 border border-success-subtle  border-white">
  
              <div id="stat_player_1" class="col-6 text-white"></div>
              <div id="stat_player_2" class="col-6  text-white"></div>
              
            </div>
            <div class="row m-3   border-success-subtle text-center border-white">
  
              <div id="sign_btn" class="col-6"><button type="button" class="btn btn-success">Sign</button> </div>
              <div id="close_nav_btn" class="col-6"><button type="button" class="btn btn-secondary">Close</button> </div>
              
            </div>
              <!---end panel-->
            



             
              </div>
        </div></div>
      </div>
    </div>
          
        
        </div></div>
    </div>
</div>
</div>
</div>
 
<br><hr> 


 

 

 

 

<!---<div id="players-list">
</div>
 --->




<script>
 
var  user_name='{{ user.username  }}'
var  user_id='{{ user.id  }}'
//var     initial_budget_str='{{ user.initial_budget  }}'
var initial_budget_str='{{ user.club_details.initial_budget  }}'
var  logo = '{{ user.club_details.logo  }}'
var  club_name='{{ user.club_details.club  }}'
var  initial_budget=Number(initial_budget_str)
</script> 

<script src="{% static 'fmx/fmx market.js' %}"></script>
 
 
{% endblock %}