{% extends "fmx/layout.html" %}
{% load static %}
{% block script %}


{% endblock %}


{% block body %}
<script>
 function allowDrop(ev) {
    ev.preventDefault();
  }
  
  function hello(){
    console.log("HELLO!")
}


  function drag(ev) {
     
    ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("text2", ev.target.getAttribute('idreal'))
  }
  
  function drop(ev) {
    ev.preventDefault();
    console.log("drop: "+ev.dataTransfer)
    var data = ev.dataTransfer.getData("text");
    var idreal = ev.dataTransfer.getData("text2"); 
    console.log("drop:"+ data)
    ev.target.classList.remove( 'bg-success')
    ev.target.classList.add( 'text-bg-primary') 
    ev.target.innerHTML=data
    const pry= document.getElementById(data)
     pry.value=pry.id
     console.log("=>"+idreal+ "name: "+ pry.id)
   
     var modal = document.getElementById("myModal");
     modal.style.display = "block";
     
    //ev.target.appendChild(document.getElementById(data));
  }
  </script> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- The Modal -->
 

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="buy_confirm"></p>
  </div>

</div>
<!-- The Modal -->



<div class="container-fluid text-info center   overlay" style="background-image: url('static/fmx/bg_3.jpg');"> 
  <div class="row w-50 bs-success-bg-subtle  "></div>
<div class=" col opacity-75 center border  bg-light   " style="  margin:60px;padding:10px;">
  <div class="  text-black border "  > 

    <div class="container-fluid   bg-light" style="  margin:20px;padding:10px;">
    <div class="row border bg-light">
      <div class="col-4 border bg-light">

        <div class="container">
        <div class="row">
          <div class="col-6"> 
            <details data-dropdown>
              <summary>
               Team:
              </summary>
              <ul role="menu">
                <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Dropdown item</a></li>
                <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Dropdown item</a></li>
                <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Dropdown item</a></li>
              </ul>
            </details>
           

          </div>
          <div class="col-5"> <details data-dropdown>
            <summary>
             Position:
            </summary>
            <ul role="menu">
              <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Goalkeepers</a></li>
              <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Defenders</a></li>
              <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Midlfielders</a></li>
              <li><a href="#" style="font-weight:bold;text-decoration:none;color:black">Attackers</a></li>
            </ul>
          </details></div>
        </div>
        <div class="row">
           
          <div class="col-10 text-left border"> 
            <br>
            <div id="player-list"></div>
          </div>
        </div>
        </div>
        </div>
      
       <div id ="canvas_test" class="col-8"> 
        
    <!-- player positions start-->
    <div class="container  internal-field rounded-3 text-center ">
      <div class="row w-60 bs-success-bg-subtle ">
        <div class="col" >
          <div class="row w-100 bs-success-bg-subtle " >
        <div id="Goalkeeper-1" value="ciao" ondrop="drop(event)" ondragover="allowDrop(event)" data-playerid='0' 
         class="col p-1 player-box-market rounded-3 bg-success text-white order-1  ">
          Goalkeeper 1</div>
        </div>
        <div class="row w-100 bs-success-bg-subtle ">
        <div id="Goalkeeper-2" data-playerid='0' ondrop="drop(event)" ondragover="allowDrop(event)" class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
          goalkeeper 2</div>
      </div>
      <div class="row w-100 bs-success-bg-subtle ">
        <div   class="col  "><hr>
           </div>
      </div>


      <div class="row w-100 bs-success-bg-subtle ">
        <div id="Midfielder-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
          Midfielder 1</div>
      </div>
      <div   class="row w-100 bs-success-bg-subtle ">
        <div id="Midfielder-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
          Midfielder 2</div>
      </div>
      <div   class="row  w-100 bs-success-bg-subtle">
        <div id="Midfielder-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
          Midfielder 3</div>
      </div>
      <div   class="row  w-100 bs-success-bg-subtle">
        <div id="Midfielder-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
          Midfielder 4</div>
      </div>
      <div  class="row  w-100 bs-success-bg-subtle">
        <div  id="Midfielder-5" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-5">
          Midfielder 5</div>
      </div>




    </div>
       <div class="col">
        <div class="row w-100 bs-success-bg-subtle ">
          <div id="Defender-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
            Defender 1</div>
        </div>
        <div   class="row w-100 bs-success-bg-subtle ">
          <div id="Defender-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
            Defender 2</div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Defender-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
            Defender 3</div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Defender-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
            Defender 4</div>
        </div>
        <div  class="row  w-100 bs-success-bg-subtle">
          <div  id="Defender-5" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-5">
            Defender 5</div>
        </div>
        <div class="row w-100 bs-success-bg-subtle ">
          <div   class="col  "><hr>
             </div>
        </div>  


        <div class="row w-100 bs-success-bg-subtle ">
          <div id="Attacker-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
            Attacker 1</div>
        </div>
        <div   class="row w-100 bs-success-bg-subtle ">
          <div id="Attacker-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
            Attacker 2</div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Attacker-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
            Attacker 3</div>
        </div>
        <div   class="row  w-100 bs-success-bg-subtle">
          <div id="Attacker-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
            Attacker 4</div>
        </div>
      </div>




      </div>
    </div> 


    </div>
    <!-- player position end -->
    <div class="row">
           
      <div class="col-8 text-left border"> 
        <div >dsds</div>
      </div>
      <div class="col-4 text-left border"> 
        <div ><div id="mySidenav" class="sidenav">
 
          <div class="row">
            <div class="col-2"></div>
            <div  class="col-8 text-center">
              <img id="det_player_photo" class="rounded "style="border:1px solid gray; margin:5px" data-playerid='0' src="#" style="width: 90px;">
              <div id="det_player_name" class="fs-5 text-white " style="font-weight:bold;margin:5px">s</div>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row m-3">
            <div id="det_player_1" class="col-6  text-white">x</div>
            <div id="det_player_2" class="col-6  text-white">d</div>
             
            </div>
            <div class="container  ">
            <div class="row m-3 border border-success-subtle  border-white">
  
              <div id="stat_player_1" class="col-6 text-white">x</div>
              <div id="stat_player_2" class="col-6  text-white">d</div>
              
            </div>
              
              
            



             
              </div>
        </div></div>
      </div>
    </div>
          
        
        </div></div>
    </div>
</div>
</div>
</div>
 
<br><hr> 

<div class="container-fluid border bg-light" style="  margin:10px;padding:10px;">
 

 
</div>
  </div>
    <div class="col bg-body-secondary field  col-md-4" style="display: block;">
    
      <div  class="container  internal-field rounded-3 text-center ">
        <div class="row w-50 bs-success-bg-subtle ">
          <div id="Defender-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
            Defender 1</div>
        </div>
        <div   class="row w-50 bs-success-bg-subtle ">
          <div id="Defender-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
            Defender 2</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Defender-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
            Defender 3</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Defender-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
            Defender 4</div>
        </div>
        <div  class="row  w-50 bs-success-bg-subtle">
          <div  id="Defender-5" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-5">
            Defender 5</div>
        </div>
      </div>

      <div  class="container  internal-field rounded-3 text-center ">
        <div class="row w-50 bs-success-bg-subtle ">
          <div id="Midfielder-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
            Midfielder 1</div>
        </div>
        <div   class="row w-50 bs-success-bg-subtle ">
          <div id="Midfielder-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
            Midfielder 2</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Midfielder-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
            Midfielder 3</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Midfielder-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
            Midfielder 4</div>
        </div>
        <div  class="row  w-50 bs-success-bg-subtle">
          <div  id="Midfielder-5" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-5">
            Midfielder 5</div>
        </div>
      </div>

      <div  class="container  internal-field rounded-3 text-center ">
        <div class="row w-50 bs-success-bg-subtle ">
          <div id="Attacker-1" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-1">
            Attacker 1</div>
        </div>
        <div   class="row w-50 bs-success-bg-subtle ">
          <div id="Attacker-2" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-2">
            Attacker 2</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Attacker-3" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-3">
            Attacker 3</div>
        </div>
        <div   class="row  w-50 bs-success-bg-subtle">
          <div id="Attacker-4" data-playerid='0' class="col p-1 player-box-market rounded-3 bg-success text-white order-4">
            Attacker 4</div>
        </div>
      </div>
    </div>


  </div>
</div>

<!---<div id="players-list">
</div>
 --->




<script>
 
var  user_name='{{ user.username  }}'
var  user_id='{{ user.id  }}'
var  initial_budget_str='{{ user.initial_budget  }}'
var  initial_budget=Number(initial_budget_str)
</script> 

<script src="{% static 'fmx/fmx market.js' %}"></script>
{% static 'fmx/fmx market.js' %}
{% endblock %}