{% extends "fmx/layout.html" %}
{% load static %}
{% load notifications_tags %}
{% block script %}
<script>
 const myModal = new bootstrap.Modal(document.getElementById('myModal'), options)

</script>

{% endblock %}


{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
 




<!-- Modal content wait for results when accept-->
<div id="myModal-chall" class="modal overlay">

  <!-- Modal content -->
  <div class="modal-content overlay">
    
      <div class="row">
        <div class="col"> 
        <div class="content-main">
        <div id="content-box" class="content-box" style="display:block">
          <h2 >THE DAILY NEWS</h2>  
          <p id="headline-txt">Enthusiastically leverage other's effective users via client-centric </p>
        </div> 
    </div>
  </div>
         </div>
         <div class="row text-center">
          <div class="col">
            <span id="chall_text">In a few moments you'll be able to view the match results.</span> 
            <div id="spinner" style="display:block" class="spinner-border text-success text-center" role="status">
            <span class="visually-hidden">Loading...</span>
          </div></div>
         </div>
         <div class="row text-center">
          <div class="col-md-6 text-center">
            <button id="view_chall_btn" type="button" class="btn btn-success">View results</button>
          </div>
          <div class="col-md-6 text-center">
            <button id="close_chall_btn" onclick="document.getElementById('myModal-chall').style.display='none';window.location.reload ()" type="button" class="btn btn-secondary">Close</button>
          </div>
         </div>
        
        
      
     
      </div>
  </div>
</div>

<!-- 
<div id="myModal-chall" class="modal overlay">
  <div class="modal-content overlay" style="height:400px">
    <span class="close">&times;</span>
      <div class="row">
        <div class="col  text-center"><b>Congratulations on accepting the challange!</b>
        <div class="content-main">
        <div id="content-box-sell" class="content-box" style="display:block">
          <h2 >THE DAILY NEWS</h2>  
          <p id="headline-txt-sell">Enthusiastically leverage other's effective users via client-centric </p>
        </div> 
    </div></div>
      <div class="col text-center"> 
         <span id="chall_text">In a few moments you'll be able to view the one 2 one result.</span> 
 <br>
 <div id="spinner" style="display:block" class="spinner-border text-success text-center" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row"><div class="col-md-6 "style="text-align:center">
  <button id="view_chall_btn" style="display:none" type="button" class="btn btn-success p-2 m-2">View result</button></div>
<div class="col-md-6">

  <button id="close_chall_btn" style="text-align:center" style="display:none" onclick="document.getElementById('myModal-chall').style.display='none';window.location.reload ()" type="button" class="btn btn-secondary p-2 m-2">Cancel</button>

</div></div>
        
        
      </div>
      </div>
    </div>
  </div> -->

<!-- end modal-->

<!-- Modal content results-->
<div id="myModal-result" class=" modal  overlay modal-dialog-scrollable">
  <div id="modal_box" class="modal-content overlay" style="height:500px;width:600px;">
    <span class="close"  >&times;</span>

    <div class="modal-body pt-0 mt-1">
      
   
    <div class="row  "><div class="col   text-center">
      <img id="logo_1" src="#"  alt="Image" style="width:100px;border-radius: 50%;border:3px solid gray"
      class="img-fluid">
     </div><div class="col   text-center">
        <img id="logo_2" src="#" alt="Image" style="width:100px;border-radius: 50%;border:3px solid gray" class="img-fluid">
      </div>
      </div>
     <div class="row">
      <div class="col   text-center"><h3 id="club_1"> </h3></div>
      <div class="col   text-center"> <h3 id="club_2"> </h3></div>
     </div>
     <div class="row">
      <div class="col m-0   text-center"><h3  id="score_1"> </h3></div>
      <div class="col m-0   text-center"> <h3 id="score_2"> </h3></div>
     </div>
     <div class="row">
      <div class="col  m-0 text-center"> <h3 id="result_text"> </h3></div>
     </div>
     <div class="row  m-2" style="text-align:center"><div class="col-12">
      <button id="btn_stats" data-one2oneid="0"   type="button" class="btn btn-sm btn-outline-success">View stats</button> </div></div>
      <div class="row   " style="text-align:center"><div class="col p-0 m-0"> 
      <div id="stats"   style="text-align:left;font-size:12px"> 
      <div id="box_stats" class="row">
        <div id="col_team_1" class="col-md-6">
      </div>
      <div  id="col_team_2" class="col-md-6">
    </div>
      </div>
    </div>
     <!-- <button id="close_result_btn" style="display:block" onclick="document.getElementById('myModal-result').style.display='none'" type="button" class="btn btn-secondary p-2 m-2">Close</button> -->
    </div>
     <div class="modal-footer">
      <div id="bet_data" class="container"></div>
       <button id="close_result_btn" style="display:block"  type="button" class="btn btn-secondary p-2 m-2">Close</button>
    </div>
     
  </div></div>
  </div>
 </div>
<!-- end modal results-->
<!--style="background-image: url('static/fmx/bg_3.jpg');height:800px"-->
    <div class="container-fluid text-info center  big_ball_img" >
      <div class="row"><div class="col"> <br>
           
      </div></div>
      <div class="row w-50   "> </div>
      <div class="row opacity-75 center rounded-2 bg-light " style="border:1px solid black;  margin:30px;padding:0px;">
      <div class=" col  center  bg-light rounded-2  " style=" border:3px solid green;  margin:10px;padding:0px;">
        <div class="row"><div class="col text-black text-center"><h3><b>Challenges sent</b></h3></div></div>
        <div class="row text-bg-secondary m-2 rounded-2"><div class="col   ms-3 mb-2">Status: 
          <select id="challenge_status" class="form-select form-select-sm " aria-label="Default select example">
            <option value="0" selected>All</option>
            <option value="accepted">Accepted</option>
            <option value="pending">Pending</option>
            <option value="refused">Refused</option>
             
          </select>

        </div>
        
        <div class="col  me-3 mb-2">Order by:
          <select id="challenge_order" class="form-select form-select-sm" aria-label="Default select example">
            <option value="0" selected>---</option>
            <option value="timestamp">Date</option>
            <option value="bet">Bet</option> 
          </select>

        </div></div>
        <div id="challenge_box" class="  bg-light  rounded-2   " style=" margin:0px;padding:0px;">
      
        <div id="challenge_header" class="row   m-3 text-black"  ><div class="col-4 "><b>Team</b></div>
        <div class="col  "><b>Bet</b></div>
      <div class="col  "><b>Status</b></div>
    <div class="col  "> </div>
  </div>
  <div id="challenge_box_in"></div>
    </div>
  </div>
  <div class=" col-md-6   center   bg-light   rounded-2  " style="border:3px solid green;  margin:10px;padding:0px;">
    <div class="row"><div class="col text-black text-center"><h3><b>Challenges received</b></h3></div></div>
    <div class="row text-bg-secondary m-2 rounded-2"><div class="col   ms-3 mb-2">Status: 
      <select id="braved_status" class="form-select form-select-sm " aria-label="Default select example">
        <option value="0" selected>All</option>
        <option value="accepted">Accepted</option>
        <option value="pending">Pending</option> 
         
      </select>

    </div>
    
    <div class="col  me-3 mb-2">Order by:
      <select id="braved_order" class="form-select form-select-sm" aria-label="Default select example">
        <option value="0" selected>---</option>
        <option value="timestamp">Date</option>
        <option value="bet">Bet</option> 
      </select>

    </div></div>
    <div id="braved_box" class="  bg-light  rounded-2   " style="  margin:0px;padding:0px;">
      <div id="braved_header" class="row   m-3 text-black" ><div class="col-4"><b>Team</b></div><div class="col"><b>Bet</b></div>
      <div class="col"><b>Status</b></div>
    <div class="col"> </div>
    
  </div>
  <div id="braved_box_in"></div>

  </div>
</div>
</div>

      <script>
       
        // var  user_name='{{ user.username  }}'
        // var  user_id='{{ user.id  }}'
        // //var     initial_budget_str='{{ user.initial_budget  }}'
        // var initial_budget_str='{{ user.club_details.initial_budget  }}'
        // var  logo = '{{ user.club_details.logo  }}'
         var  club_name='{{ user.club_details.club  }}'
        // var  club_id='{{ user.club_details.club.id }}'
        // var  initial_budget=Number(initial_budget_str)
        </script> 
        
        <script src="{% static 'fmx/fmx my_one2one.js' %}"></script>
         
         
        {% endblock %}