{% extends "fmx/layout.html" %}
{% load static %}
 
{% block script %}


{% endblock %}


{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="myModal-chll" class="modal overlay">

  <!-- Modal content -->
  <div class="modal-content overlay" style="height:270px;width:320px">
    
      <div class="row">
        <div class="col text-center"><br>
          <h6 id="chall_text"></h6>  <br>
          <form style="text-align: center;">
          <div class="form-outline" style="text-align:center">
            <label class="form-label" for="typeNumber" style="font-size:14px;text-align:center">Insert bet amount:<br>
            (max $20)</label>
           <input  min="2" max="20" type="number" id="typeNumber"   class="form-control"  />
        </div></form>
      <div class="col text-center">
          
        <div id="braved" data-bravedid="0" style="display: none;"></div>
        <div class="modal-footer">
          <div class="row text-center">
            <div class="col">
              <button id="confirm_chall_btn" type="button" class="btn btn-success p-2 m-3">Confirm</button>
            </div>
            <div class="col">
              <button id="cancel_btn" onclick="document.getElementById('myModal-chll').style.display='none';" 
              type="button" class="btn btn-secondary p-2 m-3">Cancel</button>

            </div>
          </div>
        
        
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


 
<!--style="background-image: url('static/fmx/bg_3.jpg');height:900px"-->
    <div class="container-fluid text-info center  big_ball_img" >
      <div class="row"><div class="col"> <br>
          
      </div></div>
      <div class="row w-50   ">  </div>
      <div class=" col opacity-75 center    " style="  margin:20px;padding:0px;">
        <div id="table_box" class="container     rounded-2 text-center  " style="  margin:0px;padding:0px;">
    </div>

    <div id="challenge_box" class="container    rounded-2 text-center  " style="  margin:0px;padding:0px;">
      <div id="challenge_box" class="container    rounded-2 text-center  " style="  margin:0px;padding:0px;">
    </div>
  </div>
       
     

      <script>
 
        // var  user_name='{{ user.username  }}'
        // var  user_id='{{ user.id  }}'
        // //var     initial_budget_str='{{ user.initial_budget  }}'
        // var initial_budget_str='{{ user.club_details.initial_budget  }}'
        // var  logo = '{{ user.club_details.logo  }}'
         var  club_name='{{ user.club_details.club  }}'
        // var  initial_budget=Number(initial_budget_str)
        </script> 
        
        <script src="{% static 'fmx/fmx one2one.js' %}"></script>
          
        {% endblock %}