{% extends "fmx/layout.html" %}
{% load static %}
{% block script %}
 
 

{% endblock %}


{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 

<!-- style="background-image: url('static/fmx/bg_3.jpg');height:900px"-->
<div class="container-fluid text-info center  big_ball_img">
      
  <div class="row w-50 bs-success-bg-subtle  "> </div>

  <div class=" col   opacity-75 center    " style="  margin:30px;padding:0px;">
    
    <div class="row">
        <div class="col-md-8   "   >
            <div class="row text-center">
                <div class="col  m-2">
                    <h1 class="text-black">{{ user.club_details.club  }} stats</h1>
                </div>
            </div>
            <div class="row">
                <div class="col  mt-1">
                    <div class="card border-success" style="width: 20rem;">
                        <div class="card-body">
                          <h5 class="card-title">Players Average</h5>
                          <p id="my_stats" class="card-text "  style="font-size:12px;"> </p>
                        </div>
                      </div> 
                </div>
                <div class="col m-1">
                    <div class="row">
                        <div class="col mt-1">
                            <div class="card border-success " style="width: 21rem;">
                                <div class="card-body  ">
                                  <h5 class="card-title">Last Matches</h5>
                                  <p id="last_matches" class="card-text  "  style="font-size:12px;"> </p>
                                </div>
                              </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card border-success " style="width: 21rem;">
                                <div class="card-body  ">
                                  <h5 class="card-title">Squad Value</h5>
                                  <div class="row">
                                    <div class="col text-center fw-bold">
                                        Start
                                    </div>
                                    <div class="col text-center fw-bold">
                                        Current
                                    </div>
                                  </div>
                                  <div class="row ">
                                    <div  class="col text-center fw-bold">
                                        <h3 id="start_value">-</h3>
                                    </div>
                                    <div  class="col text-center fw-bold">
                                        <h3 id="current_value">-</h3>
                                    </div>
                                  </div> <hr> 
                                  <h5 class="card-title">Players Value Variation</h5>
                                  <div class="row">
                                    <div class="col text-center fw-bold">
                                        Best
                                    </div>
                                    <div class="col text-center fw-bold">
                                        Worst
                                    </div>
                                  </div>
                                  <div class="row ">
                                    <div  class="col text-center fw-bold">
                                        <div id="best_value" style="font-size:14px">-</div>
                                    </div>
                                    <div  class="col text-center fw-bold">
                                        <h9 id="worst_value"  style="font-size:14px">-</h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>



                    </div>
                   
                </div>
            </div>

        </div>
        <div class="col-4  "  >
            <div class="row">
                <div class="col  m-2">
                     <h1 class="text-black">Overall Stats</h1>
                </div>
            </div>
            <div class="row">
                <div class="col  m-2">
                    <div class="card border-success  " style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Best players</h5>
                          <p id="best_players" class="card-text  "> </p>
                        </div>
                      </div> 
                </div>
            </div>
            <div class="row">
                <div class="col m-2">
                    <div class="card border-success" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Top Scorers</h5>
                          <p id="top_scorers" class="card-text  "  ></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>


    </div>



    
      {% if user.is_authenticated %}

      {% else %}
      <div class="col-8 text-black"> click here to login</div>
      {% endif %}

      


       
       

      
    </div>







   
  
 

</div>
</div>

 

<script>var user='{{ user.username }}'</script>  
 <script src="{% static 'fmx/fmx stats.js' %}"></script>
{% endblock %}


