{% extends "fmx/layout.html" %}
{% load static %}
{% block script %}


{% endblock %}


{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container-fluid text-info center  big_ball_img" style="background-image: url('static/fmx/bg_3.jpg');height:600px">
      
      <div class="row w-50 bs-success-bg-subtle  "> </div>
      <div class=" col opacity-75 center    " style="  margin:30px;padding:0px;">
        <div id="table_box" class="container bg-light     rounded-2 text-center  " style=" border:1px solid black;margin:0px;padding:0px;">
          <div class="row text-center"><div class="col text-black"><h1>League Table</h1></div></div>
            <div id="table_row" class="row     text-black" style="  margin:10px;padding: 0px;">
              <div class="col-1  "  ># </div>
              <div class="col-2  ">Team Name</div>
             <div class="col-2  "  >Points </div>
             
            <div class="col-1   "  >Total played</div>
            <div class="col-1  "  >Home played</div>
            <div class="col-1  "  >Away played</div>
            <div class="col-1  "  >Total won </div>
            <div class="col-1  "  >Home won</div>
            <div class="col-1  "  >Away won</div>
            </div>   
      </div>
    </div>
     
     
    
    </div>
  </div>
         
     

      <script>
 
        // var  user_name='{{ user.username  }}'
        // var  user_id='{{ user.id  }}'
        // //var     initial_budget_str='{{ user.initial_budget  }}'
        // var initial_budget_str='{{ user.club_details.initial_budget  }}'
        // var  logo = '{{ user.club_details.logo  }}'
         var  club_name='{{ user.club_details.club  }}'
        // var  initial_budget=Number(initial_budget_str)
        </script> 
        
        <script src="{% static 'fmx/fmx table.js' %}"></script>
         
         
        {% endblock %}